<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Utilisateurs</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">

            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table" *ngIf="users">
          <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{user.id}}</th>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td>
            </td>
          </tr>

          </tbody>
        </table>
        <span *ngIf="!users">Pas d'utilisateurs enregistrés</span>
      </section>
    </div>
  </div>
</div>
