<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Utilisateurs</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNouvelUtilisateurPage()">Ajouter un Utilisateur</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table" *ngIf="utilisateurs">
          <thead>
          <tr>
            <th>#</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let utilisateur of utilisateurs">
            <th scope="row">{{utilisateur.id}}</th>
            <td>{{utilisateur.nom}}</td>
            <td>{{utilisateur.prenom}}</td>
            <td>{{utilisateur.email}}</td>

            <td>
              <button type="button" class="btn btn-success" (click)="modifierUtilisateurPage(utilisateur)">Modifier</button>
              <button type="button" class="btn btn-danger" (click)="supprimerUtilisateur(utilisateur)">Supprimer</button>
            </td>
          </tr>
          </tbody>
        </table>
        <span *ngIf="!utilisateurs">Pas d'utilisateurs enregistrés</span>
      </section>
    </div>
  </div>
</div>
